<nav class="navbar">
  <a href="/" class="logo"
    ><img src="/img/UUS-logo.png" alt="UUS startpage"
  /></a>
  <a href="/profile" class="accountIcon"
    ><img src="/img/Account-icon.png" alt="Your account"
  /></a>
</nav>
