<nav class="navbar">
  <a href="/" class="logo"
    ><img src="/img/UUS-logo.png" alt="UUS startpage"
  /></a>
  <% if(user) {%>
    <a href="/profile/:username" class="accountIcon"
    ><img src="/img/account-icon.png" alt="Your account"
  /></a>
    <% }else{ %>
  <a href="/login" class="accountIcon"
    ><img src="/img/account-icon.png" alt="Your account"
  /></a>
  <% } %>
</nav>
