<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css" />
<body>
  <%- include('partials/nav.ejs') %>
  <section class="form">
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <label for="">Title:</label>
      <input type="text" name="title" id="title" />
      <label for="">Url:</label>
      <input type="text" name="url" id="url" />
      <label for="Image">Image:</label>
      <input type="file" name="image" id="image" accept="image/*" />
      <button type="submit">submit</button>
    </form>
  </section>
</body>
<%- include('partials/footer.ejs') %>
