.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--UUS-green);
  padding: 3vw;
  border-radius: 3vh;
  margin: auto;
  gap: 2.5vh;
}

.form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  align-items: center;
}

.form label {
  align-self: center;
  margin-bottom: -1vh;
  color: var(--UUS-cream);
  font-weight: 600;
}

.form input,
.form button {
  width: 100%;
  padding: 2vh 1vw;
  border-radius: 5vh;
  border: none;
  font-size: 1rem;
  transition: transform 150ms ease;
  transform-origin: center;
}

.form input[type='file'] {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1vh 1vw;
  border-radius: 5vh;
  border: none;
  font-size: 1rem;
  background: transparent;
  text-align: center;
}
.form input[type='file']::file-selector-button {
  display: block;
  margin: 0 auto;
  padding: 1vh 1.2vw;
  border-radius: 5vh;
  border: none;
  background: var(--UUS-cream);
  font-size: 1rem;
  cursor: pointer;
}

.form button:hover {
  cursor: pointer;
  background-color: var(--UUS-cream);
  transform: scale(1.05);
}

:root {
  --UUS-black: #191716;
  --UUS-green: #3c4c3c;
  --UUS-cream: #ccc7b9;
}
